---

services:
  sma-em:
    build: .
    container_name: sma-em
    image: git.fritz.box/michael/sma-em:latest
    volumes:
      - ./smaemd:/etc/smaemd
    network_mode: "host"
    restart: unless-stopped
